.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
 }
 
.overlay {
	background: #00000073;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	width: 100%;
 }
 
	.overlay.active {
		opacity: 1;
		pointer-events: initial;
	 }