 
.movie-preview {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 375px;
    background-color: black;
    cursor: pointer;
    z-index: 99; 
    transition: background 300ms;
    color: white;
}

.movie-preview .movie-poster {
    margin: 0;
}

.movie-preview-content {
    margin: 10px;
    text-align: justify;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}