.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-poster {
    width: 350px;
    height: 500px;
    margin: 10px;
}
  
.full-screen-square {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 375px;
    background-color: black;
    cursor: pointer;
    z-index: 99; 
    transition: background 300ms;
    color: white;
}